body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: white;
    width: 22%;
    text-shadow: 
    1px 1px 0px white, /* this is the bottom-right shadow */
    -1px 1px 0px white, /* this is the bottom-left shadow */
    1px -1px 0px white, /* this is the top-right shadow */
    -1px -1px 0px white; /* this is the top-left shadow */ 
    color: rgb(228, 36, 16, 1);
}

ul {
    margin: 0px;
}

body > header {
    background-color: rgb(46, 55, 220);
    color: whitesmoke;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;

}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: whitesmoke;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width:80%;
}


form {
text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(21, 145, 222);
    display: flex;
}

img {
    border-radius: 100%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li{
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 20px;
    padding: 20px;
    justify-content: center;
   /* flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center; */
    
}

.grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    /*width: 100%; /* Adjust as needed */
    box-sizing: border-box;
    display: flex; /* Flex container to align items */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center align items horizontally */
}

.grid-item img {
    width: 100%; /* Ensures images fit the width of their container */
    height: 150px; /* Fixed height */
    object-fit: cover; /* Maintains aspect ratio and ensures image covers the dimensions */
    border-radius: 8px;
   /* max-width: 100%;
    height: auto;
    border-radius: 8px; */
}

.grid-item p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #333;
}
